.tips {
    float: left;
    width: 25%;
}

.tips ol li {
    padding: 10px;
    border-radius: 5px;
}

.wrap {
    width: 500px;
    border: 1px solid #E4E3E3;
    margin: 30px auto 0;
    border-radius: 5px;
}

.wrap .header {
    background-color: #57D5F7;
    height: 40px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font: 16px "Microsoft YaHei";
}

.wrap .header h4 {
    margin: 0;
    padding: 0;
    line-height: 40px;
    color: #fff;
    font-weight: inherit;
}

#tree {
    padding: 15px;
    color: #66CCDE;
}

#tree span {
    font: 16px "Microsoft YaHei";
    padding-right: 10px;
    height: 100%;
}

#tree .node-header {
    padding: 4px;
    cursor: pointer;
}

#tree .node-header img {
    margin-top: 3px;
    vertical-align: top;
    padding-right: 5px;
    display: none;
}

#tree .node-header:hover img {
    display: inline-block;
}

#tree .node-header:hover {
    background-color: #C7F4F2;
    border-radius: 4px;
}


/* 节点样式 */

.node-visible {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 5px 18px;
    background-color: #ffffff;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.node-hidden {
    display: none;
}


/*三角符号*/

.arrow {
    display: inline-block;
    margin-right: 6px;
}

.right-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid #6898c2;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}

.down-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid #6898c2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: pointer;
}

.empty-arrow {
    border-left: 10px solid transparent;
}


/*三角符号end*/
